body {
  font-size: 16px;
}

header,
main,
footer {
  max-width: 760px;
  margin: 0 auto;
}

header,
footer {
  border: 1px solid red;
  padding: 1rem;
  background-color: lightcoral;
}

header img {
  float: right;
  width: 200px;
  height: auto;
}

footer a:visited {
  color: white;
}